{{ $page := .page }}
{{ $author_urlized := .username }}
{{ $site_type := site.Params.site_type | default "Person" }}
{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_urlized) }}
{{ with $profile_page }}
  {{ if isset .Params "superuser" }}{{/* Check an author profile exists. */}}
    {{ $profile_url := .RelPermalink }}
    {{ if and (eq $site_type "Person") (eq .Params.superuser true) }}
      {{ $profile_url = site.BaseURL }}
    {{ end }}
    {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
    {{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
    <div>
      <div class="media-body author">
        <h3 class="card-title"><a class="piwik_link" href='{{ "publication/" | relLangURL }}?author={{.Params.name}}'>{{.Params.name}}</a></h3>
        {{ with .Params.role }}<h4 class="card-subtitle fnt-xs"><i>{{. | markdownify | emojify}}</i></h4>{{end}}
        {{ with .Params.bio }}<p class="card-text fnt-xs">{{. | markdownify | emojify}}</p>{{end}}
        {{ partial "social_links" . }}
      </div>
    </div>
  {{end}}
{{end}}{{/* Profile page block */}}
