{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}; {{ end -}}
    <span><a class="piwik_link" href='{{ "publication/" | relLangURL }}?author={{$name}}'>{{$name}}</a></span>
  {{- end -}}
{{- end -}}
