{{- define "main" -}}

    <div class="ais-InstantSearch">
      <div class="left-panel">
        <div id="clear-refinements"></div>
        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" >Show abstracts</button>-->
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target=".multi-collapse">Abstract (show/hide)</button>
        <br></br>
        <h4>{{i18n "publication_type"}}</h4>
        <div id="pubs-list"></div>
        <h4>{{i18n "year"}}</h4>
        <p id="year-list"></p>
        <h4>{{i18n "author"}}</h4>
        <p id="author-list"></p>
        <h4>{{i18n "project"}}</h4>
        <p id="project-list"></p>
      </div>
      <div class="right-panel">
        <div id="current-refinements"></div>
        <div id="searchbox" class="ais-SearchBox"></div>
        <p id="hits-per-page"></p>
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>

{{- end -}}
