{{- define "main" -}}

<main>
<div class="ais-InstantSearch">
   <!--<div class="row">-->
      <aside class="mobile-aside left-panel">
         <div class="wrapper">
         <div class="aside-head">
            <h1 class="color-blue fnt-l bold">{{i18n "search_results"}}</h1>
            <button class="d-md-block d-lg-none fnt-xs btn btn-info toggleCollapse" type="button" data-toggle="collapse" data-target=".aside-collapse">Filter</button>
         </div>
         
         <div class="filter-panel aside-collapse dont-collapse-sm fnt-s">
            <div class="filter-controls">
               <div id="clear-refinements" class="fnt-xs"></div>
               <button type="button" class="btn btn-underline fnt-xs" id="abstracts-toggle" data-toggle="collapse" data-target=".multi-collapse" data-show='{{ i18n "abstracts_hide" }}' data-hide='{{ i18n "abstracts_show" }}'></button>
            </div>

            <h2 class="color-blue bold">{{i18n "publication_type"}}</h4>
            <div class="filter-list fnt-s" id="pubs-list"></div>
            <h2 class="color-blue bold">{{i18n "year"}}</h2>
            <div class="filter-list fnt-s" id="year-list"></div>
            <h2 class="color-blue bold">{{i18n "author"}}</h2>
            <div class="filter-list fnt-s" id="author-list"></div>
            <h2 class="color-blue bold">{{i18n "project"}}</h2>
            <div class="filter-list fnt-s" id="project-list"></div>
         </div>
         </div>
      </aside>

      <div class="right-panel content">
         <div class="grid">
            <div class="row">
               <div class="col-5">
               <div id="searchbox" class="ais-SearchBox"></div>
               <div id="powered-by" class="box2"></div>
               <div id="search-container-top" class="search-top">
                  <!--<span id="stats" class="box1"></span>-->
                  <div id="current-refinements" class="fnt-xs"></div>
                  <div id="hits-per-page" class="ml-auto d-none d-sm-block fnt-xs"></div>
               </div>
               <div id="hits" class="full-width"></div>
               <div id="pagination"></div>
               </div>
            </div>
         </div>
      </div>
   <!--</div>-->
</div>
</main>

{{- end -}}
